.dead {
	background-color: black;
}
.old {
	background-color: red;
}
.young {
	background-color: pink;
}
.gameBoard {
	background-color: white;
	padding:5px;
}
table {
	margin: 0 auto;
	border-collapse: collapse;
	height:100%;
}
td {
	border: 1px solid white;
	margin: 0;
	float: left;
	height:11px;
	width: 11px;
}
body {
	background-color: black;
}
h3 {
	color:white;
}